@import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("/fonts/pricedown.ttf") format("truetype");
}


html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: "pricedown";
    
    
}
#root, .main {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Allow ONLY vertical scrolling */
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* In index.css */

/* Hide scrollbar for the body AND your main container */
